# Feature Scaling

In ML algorithms features with higher magnitude of values may sometime overpower the others where as the importance of the attribute might have been vice versa, so we make use of various method for Feature Scaling.

## 1. Standardization
Here the aim is to bring the scale of all the data to same level.

In [10]:
import pandas as pd
import seaborn as sns

In [11]:
df = sns.load_dataset("healthexp")
df.tail()

     Year        Country  Spending_USD  Life_Expectancy
269  2020        Germany      6938.983             81.1
270  2020         France      5468.418             82.3
271  2020  Great Britain      5018.700             80.4
272  2020          Japan      4665.641             84.7
273  2020            USA     11859.179             77.0

In [ ]:
from sklearn.preprocessing import StandardScaler

In [12]:
scaler = StandardScaler() # creating an object of the class

In [22]:
df_scaled = pd.DataFrame(scaler.fit_transform(df[["Spending_USD","Life_Expectancy"]]))
df[["Spending_USD","Life_Expectancy"]] = df_scaled

In [23]:
df.tail()

     Year        Country  Spending_USD  Life_Expectancy
269  2020        Germany      1.894010         0.975608
270  2020         France      1.222804         1.342549
271  2020  Great Britain      1.017541         0.761559
272  2020          Japan      0.856395         2.076431
273  2020            USA      4.139720        -0.278107

## Normalization (MinMax scaling)
The objective is to scale the data between range 0 to 10, it is very widely used in some of the DL Algorithms

In [25]:
from sklearn.preprocessing import MinMaxScaler

In [26]:
min_max = MinMaxScaler() # creating an object of the class

In [27]:
df = sns.load_dataset("healthexp")
df.tail()

     Year        Country  Spending_USD  Life_Expectancy
269  2020        Germany      6938.983             81.1
270  2020         France      5468.418             82.3
271  2020  Great Britain      5018.700             80.4
272  2020          Japan      4665.641             84.7
273  2020            USA     11859.179             77.0

In [29]:
df_min_max_scaled = min_max.fit_transform(df[["Spending_USD","Life_Expectancy"]])
df[["Spending_USD","Life_Expectancy"]] = df_min_max_scaled

In [30]:
df.tail()

     Year        Country  Spending_USD  Life_Expectancy
269  2020        Germany      0.580731         0.744681
270  2020         France      0.455419         0.829787
271  2020  Great Britain      0.417097         0.695035
272  2020          Japan      0.387011         1.000000
273  2020            USA      1.000000         0.453901