# Class imbalance Handling

In [2]:
import pandas as pd
import numpy as np

In [4]:
total_class = 1000
no_class_0 = int(0.9*total_class) # need to be integer since the np.random.normal expects a sequence of integer or a single integer
no_class_1 = int(0.1*total_class)


np.random.seed(1)

class_0 = {'feature_1': np.random.normal(0, 1, no_class_0),
           'feature_2': np.random.normal(0, 1, no_class_0),
           'target': [0]*no_class_0}


class_1 = {'feature_1': np.random.normal(0, 1, no_class_1),
           'feature_2': np.random.normal(0, 1, no_class_1),
           'target': [1]*no_class_1}

class_0 = pd.DataFrame(class_0)
class_1 = pd.DataFrame(class_1)

df = pd.concat([class_0,class_1], ignore_index = True)
df.value_counts("target")
df

    feature_1  feature_2  target
0    1.624345  -0.446699       0
1   -0.611756   0.204377       0
2   -0.528172   0.612233       0
3   -1.072969   0.744885       0
4    0.865408  -0.036281       0
..        ...        ...     ...
95   0.213026   0.188583       1
96  -0.804542   0.560918       1
97  -0.646582  -0.921659       1
98   1.138173   0.647375       1
99   0.295440   1.386826       1

[1000 rows x 3 columns]

In [12]:
import numpy as np 
import pandas as pd

np.random.seed(1)

no_of_classes = 100
median = 2
standard_deviation = 1

data = {'feature1' : np.random.normal(median, standard_deviation, no_of_classes),
	    'feature2' : np.random.normal(median, standard_deviation, no_of_classes),
	    'target' : [0]*no_of_classes}
df = pd.DataFrame(data)
df

    feature1  feature2  target
0   3.624345  1.552871       0
1   1.388244  3.224508       0
2   1.471828  2.403492       0
3   0.927031  2.593579       0
4   2.865408  0.905088       0
..       ...       ...     ...
95  2.077340  0.372562       0
96  1.656146  2.602319       0
97  2.043597  2.420282       0
98  1.379999  2.810952       0
99  2.698032  3.044442       0

[100 rows x 3 columns]