In [81]:
import pandas as pd
import numpy as np

data = {
    'A' : [1,2,np.nan],
    'B' : [3,np.nan,4],
    'C' : [0,5,np.nan],
    'D' : [6,7,8],

}
df = pd.DataFrame(data)
df

     A    B    C  D
0  1.0  3.0  0.0  6
1  2.0  NaN  5.0  7
2  NaN  4.0  NaN  8

# Finding null values from a dataset

In [68]:
print("This show the null vlaues as 'False' and rest as 'True'")
print(df.isnull())
print("This shows the column wise number of null values present\n")
df.isnull().sum

This show the null vlaues as 'False' and rest as 'True'
       A      B      C      D
0  False  False  False  False
1  False   True  False  False
2   True  False   True  False
This shows the column wise number of null values present

<bound method DataFrame.sum of        A      B      C      D
0  False  False  False  False
1  False   True  False  False
2   True  False   True  False>

# Dropping rows with null vlaue

In [69]:
print("Rows without null vlaues...")
df.dropna()

Rows without null vlaues...

     A    B    C  D
0  1.0  3.0  0.0  6

# Dropping Columns with null values

In [87]:
print("Columns without null values....")
df.dropna(axis=1)

Columns without null values....

0    3.0
2    4.0
Name: B, dtype: float64

# Imputing null values with mean

In [88]:
print("Replacing null values with there column mean")

df.fillna(axis=1, value=df.mean(axis=1))

Replacing null values with there column mean

NotImplementedError: Currently only can fill with dict/Series column by column